@font-face {
  font-family: 'sukhumvit';
  src: url('../fonts/sukhumvit/SukhumvitReg.woff2') format('woff2'),
       url('../fonts/sukhumvit/SukhumvitReg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'sukhumvit';
  src: url('../fonts/sukhumvit/SukhumvitBold.woff2') format('woff2'),
       url('../fonts/sukhumvit/SukhumvitBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
