@font-face {
    font-family: 'tlhalftimeregular';
    src: url('/fonts/tl-halftime_0-webfont.woff2') format('woff2'),
         url('/fonts/tl-halftime_0-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'tlfulltimeregular';
    src: url('/fonts/tl_fulltime-webfont.woff2') format('woff2'),
         url('/fonts/tl_fulltime-webfont.woff') format('woff');
    font-weight: 700;
    font-style: medium;
    font-display: swap;
}


@font-face {
    font-family: 'tl45headlines';
    src: url('/fonts/tl-webfont.woff2') format('woff2'),
         url('/fonts/tl-webfont.woff') format('woff');
    font-weight: 900;
    font-style: bold;
    font-display: swap;
}