@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body, html {
  overflow-x: hidden;
  height: 100%;
}

html {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.heroplaylist {
  
}

.heroplaylist:before  {
    content: "";
    display: block;
    width: 150vw;
    height: 100%;
    position: absolute;
    top: 0;
    left: -50vw;
    background: #37003c;
    background-position: 50% top;
    background-repeat: no-repeat;
    z-index: -1;
}

.heroplaylist:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}

